<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book API</title>
    <link href="assets/css/styles.css">
</head>

<body>

    <h1>Here is my book collection</h1>

    <h2>Complete Books Database</h2>

    <!-- 1. GET /books:  -->
    <!-- Retrieve a list of all books.  -->
    <!-- Implement pagination to limit the number of books returned per request. -->



    <!-- Get all books -->

    <ul>
        <!-- Loop through books -->
        <% for(let i=0; i < books.length; i++) {%>
            <li>
                <span>
                    "<%= books[i].title %>"
                </span>
                <span>
                    by <%= books[i].author %>
                </span>
                <span>
                    (Published <%= books[i].publicationYear %>)
                </span>
            </li>
            <% } %>
    </ul>

    <!-- 2. GET /books/{id}:  -->
    <!-- Retrieve details of a specific book by ID. -->

    <!-- 3. POST /books:  -->
    <!-- Add a new book to the collection.  -->
    <!-- Implement input validation to ensure all required fields are provided (`title`, `author`, `publicationYear`), and `publicationYear` should be a valid year in the past. -->
    <h2>Add a new book to the collection</h2>
    <form action="/books" method="POST">
        <input type="text" placeholder="Title" name="title" />
        <input type="text" placeholder="Author" name="author" />
        <!-- TODO: Add form validation for year -->
        <input type="text" placeholder="Publication Year" name="publicationYear" />
        <button type="submit">Submit</button>
    </form>

    <!-- 4. PUT /books/{id}:  -->
    <!-- Update details of a specific book by ID.  -->
    <!-- Allow partial updates, and ensure validation is applied to the input data. -->

    <!-- 5. DELETE /books/{id}:  -->
    <!-- Delete a specific book by ID. -->

    <!-- 6. GET /books/search?q={query}:  -->
    <!-- Implement search functionality to allow users to search for books by title or author. -->

    <!-- 7. GET /books/stats:  -->
    <!-- Provide statistics about the collection of books, including the total number of books, the earliest and latest publication years, and any other relevant metrics you think are appropriate. -->

    <script src="assets/js/main.js"></script>
</body>

</html>